<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/_common :: common_head(~{::title},~{},~{})">
    <title>江苏崇恒医疗科技有限公司</title>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <style>
        article, aside, dialog, footer, header, section, nav, figure, menu {
            display: block;
            padding: 0;
            margin: 0;
        }
    </style>
    <![endif]-->

    <!--[if lte IE 9]>
    <script>
        jQuery(document).ready(function ($) {
            $('input, textarea').placeholder();
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.indexci img').each(function () {
                PIE.attach(this);
            });
        });
    </script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 8]>
<div class="lt-ie8-bg">
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
    <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <p class="browsehappy">对不起，您正在使用的是 <strong>过时</strong> 的浏览器.</p>
    <p>请升级您的浏览器（IE8+，或者是火狐、谷歌、Opera、Safari等现代浏览器），以改进您的用户体验！</p>
</div>
<style>
    .lt-ie8-bg {
        z-index: 11111;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        color: #999;
        padding: 100px 20px;
        text-align: center;
        font-size: 26px
    }

    .lt-ie8-bg a {
        color: #f5f5f5;
        border-bottom: 2px solid #fff
    }

    .lt-ie8-bg a:hover {
        text-decoration: none
    }

    #wrap {
        display: none;
    }
</style>
<![endif]-->
<div id="wrap">
    <!--<div id="preloader">
      <div id="status">&nbsp;</div>
      <div class="loader">
        <h1>页面加载中...</h1>
        <span></span> <span></span> <span></span> </div>
    </div>-->
    <th:block th:insert="common/_common::header"></th:block>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 bcid-cat">关于我们</div>
                <div class="col-md-9 col-sm-8 location"><i class="fa fa-map-marker"></i> &nbsp;<span>当前位置： <a
                        href="index.jsp.html" class=''>主页</a> > <a href='about.jsp.html' class=''>关于我们</a></span></div>
            </div>
        </div>
    </div>
    <div class="page-container" id="innerpage-wrap">
        <div class="container">
            <div class="row">
                <div class="main col-md-9 inner-left" role="main">
                    <div class="about-page-wrap">
                        <div class="com-cnt page-content">
                            <p> 江苏崇恒医疗科技有限公司成立于2020年5月，位于江苏省南通市海门区海门生物医药科技创业园B6栋2楼。厂房面积1812平方米。注册资本1200万元。  </p>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td><img src="../../static/chmedt/6aaccc81bd940239a3f09d790a0ed10.png" alt=""></td>
                                    <td><img src="../../static/chmedt/gongchang.png"></td>
                                </tr>
                            </table>
                            <br>
                            <br>
                            <p style="text-align:center"><strong>主要产品</strong><strong> </strong><br>
                            </p>
                            江苏崇恒医疗科技有限公司聚焦三类医疗器械采注类产品研发生产。目前在研项目包括：

                            <p>一次性使用人体动脉血样采集器：主要用于人体动脉血样的采集储存和血气分析。全国年消费量在1亿支以上，并且每年呈20%增长。 </p>
                            <p>人体疫苗和肌肉用无针注射器：主要用于疫苗和肌肉的注射。年消费量在2亿只以上。 </p>
                            <p>一次性皮试液配制器及0.1ml一次性皮试液定量注射器：主要用于皮试液的配制和注射。年消费量在2亿支以上，其中配制器为创新二类，注射器为创新三类。 </p>
                            <br>
                            <br>
                            <p style="text-align:center"><strong>厂房建设情况</strong><strong> </strong><br>
                            </p>
                            <p>自2020年5月，江苏崇恒医疗科技有限公司在研发项目上已完成投资
                                。其中,生产厂房按万级和十万级环境净化要求，完成工程施工1280平方米。购置生产和检验设备39台套，且已全部安装调试完毕，生产技术人员已完成全员培训工作，具备三类医疗器械的生产条件。
                                <br>
                                <img src="../../static/chmedt/jianshe25.png" alt=""> <br>
                            <p style="text-align:center"><strong>产品研发注册进展</strong><strong> </strong><br>
                            </p>
                            <p><strong>&#8220;一次性动脉采血器&#8221;</strong>：2021年12月获得国家药监局三类医疗器械注册受理。2022年12月获得&#8220;一次性动脉采血器&#8221;注册证和三类医疗器械生产许可证。该项目钙饱和肝素锂、微量喷涂和导流栓塞体生产工艺为我公司核心技术。
                                <br>
                                <strong>&#8220;人体疫苗</strong><strong>、</strong><strong>肌肉</strong><strong>和腔内</strong><strong>无针注射器&#8221;</strong>：为国内首创，已完成临床前动物实验，正在撰写申报资料。预计2023年底注册申请上报国家药监局。无针注射器由一次性载药器、血管显示仪、皮肤厚度检测仪、注射枪和动力系统组成。本公司目前在研无针注射器产品有：疫苗无针注射器，肌肉无针注射器和腔内无针注射器。该系列产品中血管显示仪、皮肤厚度检测仪、注射枪和动力系统均为本公司核心技术。<br>
                                <strong>&#8220;一次性皮试液配制器&#8221;</strong><strong>和&#8220;0</strong><strong>.1</strong><strong>ml</strong><strong>一次性</strong><strong>皮试液定量注射器&#8221;</strong>：已完成小样生产，预计2022年11月和2023年6月提交注册申请，分别上报江苏省药监局和国家药监局。上述两产品属于创新二类（已获得江苏省创新二类医疗器械认定）和创新三类医疗器械。分别用于皮试液的配制和定量注射，操作简单，一步到位。为国际首创，已经获得发明专利授权证书。
                            </p>
                            <br>
                            <br>
                            <p style="text-align:center"><strong>资质和荣誉</strong><strong> </strong><br></p>
                            <img id="image" src="../../static/chmedt/zizhi66.jpg" usemap="#Map"
                                 style="width:896px;height:521px;">
                            <map name="Map">
                                <area shape="rect" coords="174,32,413,200" href="../../static/chmedt/zizhi111.jpg"
                                      target="_blank">
                                <area shape="rect" coords="473,32,715,199" href="../../static/chmedt/zizhi112.jpg"
                                      target="_blank">
                                <area shape="rect" coords="117,259,292,484" href="../../static/chmedt/zizhi11.jpg"
                                      target="_blank">
                                <area shape="rect" coords="367,261,543,488" href="../../static/chmedt/zizhi12.jpg"
                                      target="_blank">
                                <area shape="rect" coords="619,259,798,490" href="../../static/chmedt/zizhi13.jpg"
                                      target="_blank">
                            </map>
                            <br>
                            <br>
                            <p style="text-align:center"><strong>专利与知识产权</strong><strong> </strong><br>
                            </p>
                            <p> 围绕上述在研产品，崇恒申请了国家发明专利3项，实用新型专利7项。获得授权发明专利2项，实用新型专利3项。 </p>
                            <img id="image" src="../../static/chmedt/zizhi67.jpg" usemap="#Map2"
                                 style="width:896px;height:285px;">
                            <map name="Map2">
                                <area shape="rect" coords="39,30,201,260" href="../../static/chmedt/zhuanli1.jpg"
                                      target="_blank">
                                <area shape="rect" coords="258,30,424,260" href="../../static/chmedt/zhuanli2.jpg"
                                      target="_blank">
                                <area shape="rect" coords="476,30,641,260" href="../../static/chmedt/zhuanli3.jpg"
                                      target="_blank">
                                <area shape="rect" coords="695,30,859,260" href="../../static/chmedt/zhuanli4.jpg"
                                      target="_blank">
                            </map>
                            <div id="pages" class="page"></div>
                        </div>
                    </div>
                </div>
                <aside class="sidebar col-md-3 inner-right" role="complementary">
                    <section class="widget widget-category side-contact">
                        <h3 class="title">联系信息</h3>
                        <div class="s-contact"> 电话：0513-82102961<br>
                            手机：宋先生 13655516000<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;汪先生
                            13855173097<br>
                            E—mail：chmedt@163.com<br>
                            公司地址：江苏省南通市海门市临江镇洞庭湖路100号B6栋2楼
                        </div>
                    </section>
                    <section class="widget side-news">
                        <h3 class="title">产品介绍</h3>
                        <div class="tabbed custom-tabbed">
                            <div class="block current">
                                <ul class="widget-list">
                                    <li>
                                        <figure><a href="product_view.jsp.html"><img
                                                src="../../static/chmedt/product1.png"></a></figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="product_view.jsp.html">一次性动脉采血器</a></p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2022-12-22</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="widget side-news">
                        <h3 class="title">新闻资讯</h3>
                        <div class="tabbed custom-tabbed">
                            <div class="block current">
                                <ul class="widget-list">
                                    <li>
                                        <figure><a href="news_20230215.jsp.html"><img
                                                src="../../static/chmedt/aab9221495158af66fc7b4c6268080d.jpg"></a>
                                        </figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="news_20230215.jsp.html">公司产品顺利通过美国国家食品药品管理局（FDA）注册</a>
                                            </p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2023-02-15</span></div>
                                    </li>
                                    <li>
                                        <figure><a href="news_view.jsp.html"><img
                                                src="../../static/chmedt/news1.jpg"></a></figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="news_view.jsp.html">喜报！长高院首批引进项目获国家医疗器械注册证</a>
                                            </p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2022-12-22</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
    <th:block th:insert="common/_common::footer"></th:block>
</div>

<a href="#0" class="cd-top"></a>

<th:block th:insert="common/_common::script"></th:block>

<script>
    //<!-- Mobile Menu -->
    $(document).ready(function () {
        "use strict";
        $("#menu").mmenu({
            "classes": "mm-slide",
            "offCanvas": {
                "position": "right",
                "zposition": "front" //back, front,next
            },
            "header": {
                "title": "网站导航",
                "add": true,
                "update": true
            },

        });
    });
</script>
</body>
</html>
