<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/_common :: common_head(~{::title},~{},~{})">
    <title>江苏崇恒医疗科技有限公司</title>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <style>
        article, aside, dialog, footer, header, section, nav, figure, menu {
            display: block;
            padding: 0;
            margin: 0;
        }
    </style>
    <![endif]-->

    <!--[if lte IE 9]>
    <script>
        jQuery(document).ready(function ($) {
            $('input, textarea').placeholder();
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.indexci img').each(function () {
                PIE.attach(this);
            });
        });
    </script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 8]>
<div class="lt-ie8-bg">
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
    <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <p class="browsehappy">对不起，您正在使用的是 <strong>过时</strong> 的浏览器.</p>
    <p>请升级您的浏览器（IE8+，或者是火狐、谷歌、Opera、Safari等现代浏览器），以改进您的用户体验！</p>
</div>
<style>
    .lt-ie8-bg {
        z-index: 11111;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        color: #999;
        padding: 100px 20px;
        text-align: center;
        font-size: 26px
    }

    .lt-ie8-bg a {
        color: #f5f5f5;
        border-bottom: 2px solid #fff
    }

    .lt-ie8-bg a:hover {
        text-decoration: none
    }

    #wrap {
        display: none;
    }
</style>
<![endif]-->
<div id="wrap">
    <!--<div id="preloader">
      <div id="status">&nbsp;</div>
      <div class="loader">
        <h1>页面加载中...</h1>
        <span></span> <span></span> <span></span> </div>
    </div>-->
    <th:block th:insert="common/_common::header"></th:block>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 bcid-cat">联系我们</div>
                <div class="col-md-9 col-sm-8 location"><i class="fa fa-map-marker"></i> &nbsp;<span>当前位置： <a
                        href="index.jsp.html" class=''>主页</a> > <a href='link.jsp.html'>联系我们</a></span></div>
            </div>
        </div>
    </div>
    <div class="page-container" id="innerpage-wrap">
        <div class="container">
            <div class="row">
                <div class="main col-md-9 inner-left" role="main">
                    <div class="about-page-wrap">
                        <div class="com-cnt page-content">
                            <p><span style="font-size:16px;color:#003399;"><strong>江苏崇恒医疗科技有限公司</strong></span></p>
                            <p>&nbsp; </p>
                            电话：0513-82102961<br>
                            手机：宋先生 13655516000<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;汪先生
                            13855173097<br>
                            E&mdash;mail：chmedt@163.com<br>
                            公司地址：江苏省南通市海门市临江镇洞庭湖路100号B6栋2楼<br>
                            <p>&nbsp; </p>
                            <div id="container" style="height:300px;">
                                &nbsp;
                            </div>
                            <script type="text/javascript"
                                    src="https://webapi.amap.com/maps?v=1.4.15&key=107faae127e02f0da99f55ef970ea130"></script>
                            <script type="text/javascript">
                                var map = new AMap.Map("container", {
                                    center: [121.367849, 31.859122],
                                    zoom: 13,
                                    viewMode: '3D',
                                });


                                //构建自定义信息窗体
                                var infoWindow = new AMap.InfoWindow({
                                    anchor: 'top-left',
                                    content: '江苏崇恒医疗科技有限公司',
                                });

                                infoWindow.open(map, [121.367849, 31.859122])

                                function setAnchor() {
                                    var anchor = this.id;
                                    infoWindow.setAnchor(anchor)
                                }

                                //绑定radio点击事件
                                var radios = document.querySelectorAll("#coordinate input");
                                radios.forEach(function (ratio) {
                                    ratio.onclick = setAnchor;
                                });


                            </script>
                        </div>
                        <div id="pages" class="page"></div>

                    </div>
                </div>
                <aside class="sidebar col-md-3 inner-right" role="complementary">
                    <section class="widget widget-category side-contact">
                        <h3 class="title">联系信息</h3>
                        <div class="s-contact"> 电话：0513-82102961<br>
                            手机：宋先生 13655516000<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;汪先生
                            13855173097<br>
                            E—mail：chmedt@163.com<br>
                            公司地址：江苏省南通市海门市临江镇洞庭湖路100号B6栋2楼
                        </div>
                    </section>
                    <section class="widget side-news">
                        <h3 class="title">产品介绍</h3>
                        <div class="tabbed custom-tabbed">
                            <div class="block current">
                                <ul class="widget-list">
                                    <li>
                                        <figure><a href="product_view.jsp.html"><img
                                                src="../../static/chmedt/product1.png"></a></figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="product_view.jsp.html">一次性动脉采血器</a></p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2022-12-22</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="widget side-news">
                        <h3 class="title">新闻资讯</h3>
                        <div class="tabbed custom-tabbed">
                            <div class="block current">
                                <ul class="widget-list">
                                    <li>
                                        <figure><a href="news_20230215.jsp.html"><img
                                                src="../../static/chmedt/aab9221495158af66fc7b4c6268080d.jpg"></a>
                                        </figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="news_20230215.jsp.html">公司产品顺利通过美国国家食品药品管理局（FDA）注册</a>
                                            </p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2023-02-15</span></div>
                                    </li>
                                    <li>
                                        <figure><a href="news_view.jsp.html"><img
                                                src="../../static/chmedt/news1.jpg"></a></figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="news_view.jsp.html">喜报！长高院首批引进项目获国家医疗器械注册证</a>
                                            </p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2022-12-22</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
    <div class="for-bottom-padding"></div>
    <th:block th:insert="common/_common::footer"></th:block>
</div>
<a href="#0" class="cd-top"></a>

<th:block th:insert="common/_common::script"></th:block>

<script>
    //<!-- Mobile Menu -->
    $(document).ready(function () {
        "use strict";
        $("#menu").mmenu({
            "classes": "mm-slide",
            "offCanvas": {
                "position": "right",
                "zposition": "front" //back, front,next
            },
            "header": {
                "title": "网站导航",
                "add": true,
                "update": true
            },

        });
    });
</script>
</body>
</html>