<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/_common :: common_head(~{::title},~{},~{})">
    <title>江苏崇恒医疗科技有限公司</title>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <style>
        article, aside, dialog, footer, header, section, nav, figure, menu {
            display: block;
            padding: 0;
            margin: 0;
        }
    </style>
    <![endif]-->

    <!--[if lte IE 9]>
    <script>
        jQuery(document).ready(function ($) {
            $('input, textarea').placeholder();
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.indexci img').each(function () {
                PIE.attach(this);
            });
        });
    </script>
    <![endif]-->
<body>
<!--[if lt IE 8]>
<div class="lt-ie8-bg">
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
    <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <p class="browsehappy">对不起，您正在使用的是 <strong>过时</strong> 的浏览器.</p>
    <p>请升级您的浏览器（IE8+，或者是火狐、谷歌、Opera、Safari等现代浏览器），以改进您的用户体验！</p>
</div>
<style>
    .lt-ie8-bg {
        z-index: 11111;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        color: #999;
        padding: 100px 20px;
        text-align: center;
        font-size: 26px
    }

    .lt-ie8-bg a {
        color: #f5f5f5;
        border-bottom: 2px solid #fff
    }

    .lt-ie8-bg a:hover {
        text-decoration: none
    }

    #wrap {
        display: none;
    }
</style>
<![endif]-->
<div id="wrap">
    <!--<div id="preloader">
      <div id="status">&nbsp;</div>
      <div class="loader">
        <h1>页面加载中...</h1>
        <span></span> <span></span> <span></span> </div>
    </div>-->
    <th:block th:insert="common/_common::header"></th:block>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 bcid-cat">新闻资讯</div>
                <div class="col-md-9 col-sm-8 location"><i class="fa fa-map-marker"></i> &nbsp;<span>当前位置： <a
                        href="index.jsp.html" class=''>主页</a> > <a href='news.jsp.html'>新闻资讯</a></span></div>
            </div>
        </div>
    </div>
    <div class="page-container" id="innerpage-wrap">
        <div class="container">
            <div class="row">
                <div class="main col-md-9 inner-left" role="main">
                    <article class="blog-wrap">
                        <div class="blog-article hentry format-image">
                            <figure><a class="swipebox-x" href="news_20230215.jsp.html"> <img class="img-responsive"
                                                                                              src="../../static/chmedt/aab9221495158af66fc7b4c6268080d.jpg">
                            </a></figure>
                            <div class="entry-summary post-summary">
                                <header class="entry-header">
                                    <h2 class="entry-title post-title"><a href="news_20230215.jsp.html">
                                        公司产品顺利通过美国国家食品药品管理局（FDA）注册</a></h2>
                                </header>
                                <div class="entry-meta post-meta">
                                    <ul>
                                        <li class="entry-date date">
                                            <time class="entry-date" datetime="2023-02-15">2023-02-15</time>
                                        </li>
                                        <li class="tags"><a href="news.jsp.html">新闻资讯</a></li>
                                        <li class="byline author vcard">by <a href="javascript:void(0)"
                                                                              class="fn">本站</a></li>
                                    </ul>
                                </div>
                                <div class="entry-content">
                                    <p>江苏崇恒医疗科技有限公司生产的“一次性使用人体动脉血样采集器”于近日顺利通过美国国家食品药品管理局（FDA）注册，迈过了该产品出口美国的最后一道门槛。</p>
                                </div>
                                <a href="news_20230215.jsp.html" class="read-more-link">查看详细</a></div>
                        </div>
                        <div class="blog-article hentry format-image">
                            <figure><a class="swipebox-x" href="news_view.jsp.html"> <img class="img-responsive"
                                                                                          src="../../static/chmedt/news1.jpg">
                            </a></figure>
                            <div class="entry-summary post-summary">
                                <header class="entry-header">
                                    <h2 class="entry-title post-title"><a href="news_view.jsp.html">喜报！长高院首批引进项目获国家医疗器械注册证</a>
                                    </h2>
                                </header>
                                <div class="entry-meta post-meta">
                                    <ul>
                                        <li class="entry-date date">
                                            <time class="entry-date" datetime="2022-12-22">2022-12-22</time>
                                        </li>
                                        <li class="tags"><a href="news.jsp.html">新闻资讯</a></li>
                                        <li class="byline author vcard">by <a href="javascript:void(0)" class="fn">长三角药物高等研究院</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="entry-content">
                                    <p>
                                        近日，长三角药物高等研究院2020新药与平台强化立项的项目“一次性使用人体动脉血样采集器”成功获批国家第三类医疗器械注册证。该项目由江苏崇恒医疗科技有限公司自主研发，成功地解决了一次性动脉采血器“钙饱和抗凝剂”和“导流栓塞体技术”核心问题，打破了我国不能自主生产动脉血样采集器的局面，为新冠重症患者治疗提供了重要的国产器械。</p>
                                </div>
                                <a href="news_view.jsp.html" class="read-more-link">查看详细</a></div>
                        </div>
                    </article>
                </div>
                <aside class="sidebar col-md-3 inner-right" role="complementary">
                    <section class="widget widget-category side-contact">
                        <h3 class="title">联系信息</h3>
                        <div class="s-contact"> 电话：0513-82102961<br>
                            手机：宋先生 13655516000<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;汪先生
                            13855173097<br>
                            E—mail：chmedt@163.com<br>
                            公司地址：江苏省南通市海门市临江镇洞庭湖路100号B6栋2楼
                        </div>
                    </section>
                    <section class="widget side-news">
                        <h3 class="title">产品介绍</h3>
                        <div class="tabbed custom-tabbed">
                            <div class="block current">
                                <ul class="widget-list">
                                    <li>
                                        <figure><a href="product_view.jsp.html"><img
                                                src="../../static/chmedt/product1.png"></a></figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="product_view.jsp.html">一次性动脉采血器</a></p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2022-12-22</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="widget side-news">
                        <h3 class="title">新闻资讯</h3>
                        <div class="tabbed custom-tabbed">
                            <div class="block current">
                                <ul class="widget-list">
                                    <li>
                                        <figure><a href="news_20230215.jsp.html"><img
                                                src="../../static/chmedt/aab9221495158af66fc7b4c6268080d.jpg"></a>
                                        </figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="news_20230215.jsp.html">公司产品顺利通过美国国家食品药品管理局（FDA）注册</a>
                                            </p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2023-02-15</span></div>
                                    </li>
                                    <li>
                                        <figure><a href="news_view.jsp.html"><img
                                                src="../../static/chmedt/news1.jpg"></a></figure>
                                        <div class="sn-wrapper">
                                            <p class="s-desc"><a href="news_view.jsp.html">喜报！长高院首批引进项目获国家医疗器械注册证</a>
                                            </p>
                                            <span class="comments"><i
                                                    class="fa fa-calendar"></i> &nbsp;2022-12-22</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
    <th:block th:insert="common/_common::footer"></th:block>
</div>
<a href="#0" class="cd-top"></a>

<th:block th:insert="common/_common::script"></th:block>

<script>
    //<!-- Mobile Menu -->
    $(document).ready(function () {
        "use strict";
        $("#menu").mmenu({
            "classes": "mm-slide",
            "offCanvas": {
                "position": "right",
                "zposition": "front" //back, front,next
            },
            "header": {
                "title": "网站导航",
                "add": true,
                "update": true
            },

        });
    });
</script>
</body>
</html>