<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="robots" content="index, follow">
<title>江苏崇恒医疗科技有限公司</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href=../../static/chmedt/font-awesome.min.css" rel="stylesheet">
<link href=../../static/chmedt/medical-guide.css" rel="stylesheet" type="text/css">
<link href=../../static/chmedt/bootstrap.css" rel="stylesheet" type="text/css">
<link href=../../static/chmedt/dropmenu.css" rel="stylesheet" type="text/css">
<link href=../../static/chmedt/style.css" rel="stylesheet" type="text/css">
<link href=../../static/chmedt/settings.css" rel="stylesheet" type="text/css">
<link href=../../static/chmedt/extralayers.css" rel="stylesheet" type="text/css">
<link href=../../static/chmedt/jquery.mmenu.all.css" rel="stylesheet" type="text/css">
<link href=../../static/chmedt/loader.css" rel="stylesheet" type="text/css">
<link href=../../static/chmedt/tk.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src=../../static/chmedt/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src=../../static/chmedt/owl.carousel.js"></script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
<script src="./static/html5.js"></script>
<script src="./static/respond.min.js"></script>
<style>
	article,aside,dialog,footer,header,section,nav,figure,menu{display:block;padding:0;margin:0;}
</style>
<link rel="stylesheet" href="./static/ie.css" type="text/css" media="screen"/>
<![endif]-->

<!--[if lte IE 9]>
<script src="./static/jquery.placeholder.js"></script>
<script>
jQuery(document).ready(function($){
	$('input, textarea').placeholder();
});
</script>
<script type="text/javascript" src="./static/pie.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
	$('.indexci img').each(function() {
		PIE.attach(this);  
	});  
});
</script>
<![endif]-->
<!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="./static/ie8-eventlistener.js"></script>
  <script type="text/javascript" src="./static/selectivizr.js"></script>
  <script type="text/javascript" src="./static/excanvas.compiled.js"></script>
<![endif]-->
<link href="./static/favicon.ico" rel="shortcut icon" type="image/x-icon"></head>
<body>
<!--[if lt IE 8]>
	<div class="lt-ie8-bg">
		<p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
		<p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<p class="browsehappy">对不起，您正在使用的是 <strong>过时</strong> 的浏览器.</p>
		<p>请升级您的浏览器（IE8+，或者是火狐、谷歌、Opera、Safari等现代浏览器），以改进您的用户体验！</p>
	</div>
	<style>
	.lt-ie8-bg{z-index:11111;position:absolute;top:0;left:0;right:0;bottom:0;background-color:#333;color:#999;padding:100px 20px;text-align:center;font-size:26px}
	.lt-ie8-bg a{color:#f5f5f5;border-bottom:2px solid #fff}
	.lt-ie8-bg a:hover{text-decoration:none}
	#wrap{display:none;}
	</style>
<![endif]-->
<div id="wrap"> 
  <!--<div id="preloader">
    <div id="status">&nbsp;</div>
    <div class="loader">
      <h1>页面加载中...</h1>
      <span></span> <span></span> <span></span> </div>
  </div>-->
  <div id="header-1">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-5 topbar-left"> <span class="adword">崇恒医疗致力于医疗器械类产品研发生产！</span> </div>
        <div class="col-md-7 topbar-right">
          <div class="get-touch">
            <ul>
              <li class="top-phone"><a href="tel:13655516000"><i class="fa fa-phone"></i> 13655516000</a></li>
              <li class="top-email"><a href="mailto:chmedt@163.com"><i class="fa fa-envelope"></i> chmedt@163.com</a></li>
            </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="nav-logo"> <a href="news_20230215.jsp.html" class="logo"><img src=../../static/chmedt/logo.png"></a> </div>
         <div class="nav-menu" id="navigation">
          <nav class="menu-2">
            <ul class="nav wtf-menu">
              <li class="Lev1 "> <a href="index.jsp.html" class="menu1">网站首页</a></li>
              <li class="Lev1 parent "> <a href="about.jsp.html" class="menu1">关于我们</a> </li>
              <li class="Lev1 parent "> <a href="product_view.jsp.html" class="menu1">产品介绍
                </a>
                </li>
              <li class="Lev1 parent item-select"> <a href="news.jsp.html" class="menu1">新闻资讯</a> </li>
              
              <li class="Lev1 parent "> <a href="link.jsp.html" class="menu1">联系我们</a> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
<div id="page" class="mobile-nav">
  <div class="container">
    <div class="header"><a href="#menu"></a></div>
    <nav id="menu">
      <ul>
        <li class="Lev1"><a href="index.jsp.html" class="menu1">网站首页</a></li>
        <li class="Lev1"> <a href="about.jsp.html" class="menu1">关于我们</a> </li>
        <li class="Lev1"> <a href="product_view.jsp.html" class="menu1">产品介绍</a> </li>
        <li class="Lev1"> <a href="news.jsp.html" class="menu1">新闻资讯</a> </li>
        <li class="Lev1"> <a href="link.jsp.html" class="menu1">联系我们</a> </li>
      </ul>
    </nav>
  </div>
</div>
<div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 bcid-cat">新闻资讯</div>
        <div class="col-md-9 col-sm-8 location"><i class="fa fa-map-marker"></i> &nbsp;<span>当前位置： <a href="index.jsp.html" class=''>主页</a> > <a href='news.jsp.html'>新闻资讯</a></span></div>
      </div>
    </div>
  </div>
  <div class="page-container" id="innerpage-wrap">
    <div class="container">
      <div class="row">
        <div class="main col-md-9 inner-left" role="main">
          <div class="blog-post blog-post-wrap">
            <h3 class="text-center bp-title">公司产品顺利通过美国国家食品药品管理局（FDA）注册</h3>
            <small class="text-center bp-desc"><i class="fa fa-tag"></i> &nbsp; <a href="news.jsp.html">新闻资讯</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-calendar"></i> &nbsp;2023-02-15</small>
            <div class="com-cnt page-content bp-content">
             <p>　　<span style="font-size:16px;">江苏崇恒医疗科技有限公司生产的“一次性使用人体动脉血样采集器”于近日顺利通过美国国家食品药品管理局（FDA）注册，迈过了该产品出口美国的最后一道门槛。</span></p>

<p><img src=../../static/chmedt/aab9221495158af66fc7b4c6268080d.jpg" style="float: none; display: block; margin-left: auto; margin-right: auto;"></p>

              <div id="pages" class="page"></div>
            </div>
          </div>
          <script language="JavaScript" src=../../static/chmedt/index.js"></script> 
        </div>
        <aside class="sidebar col-md-3 inner-right" role="complementary">
          <section class="widget widget-category side-contact">
            <h3 class="title">联系信息</h3>
            <div class="s-contact">                电话：0513-82102961<br>
              手机：宋先生 13655516000<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;汪先生 13855173097<br>
              E—mail：chmedt@163.com<br>
              公司地址：江苏省南通市海门市临江镇洞庭湖路100号B6栋2楼 </div>
          </section>
          <section class="widget side-news">
            <h3 class="title">产品介绍</h3>
            <div class="tabbed custom-tabbed">
              <div class="block current">
                <ul class="widget-list">
                  <li>
                    <figure><a href="product_view.jsp.html"><img src=../../static/chmedt/product1.png"></a></figure>
                    <div class="sn-wrapper">
                      <p class="s-desc"><a href="product_view.jsp.html">一次性动脉采血器</a></p>
                      <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2022-12-22</span> </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section class="widget side-news">
            <h3 class="title">新闻资讯</h3>
            <div class="tabbed custom-tabbed">
              <div class="block current">
                <ul class="widget-list">
                  <li>
                    <figure><a href="news_20230215.jsp.html"><img src=../../static/chmedt/aab9221495158af66fc7b4c6268080d.jpg"></a></figure>
                    <div class="sn-wrapper">
                      <p class="s-desc"><a href="news_20230215.jsp.html">公司产品顺利通过美国国家食品药品管理局（FDA）注册</a></p>
                      <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2023-02-15</span> </div>
                  </li>
                  <li>
                    <figure><a href="news_view.jsp.html"><img src=../../static/chmedt/news1.jpg"></a></figure>
                    <div class="sn-wrapper">
                      <p class="s-desc"><a href="news_view.jsp.html">喜报！长高院首批引进项目获国家医疗器械注册证</a></p>
                      <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2022-12-22</span> </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </aside></div>
    </div>
  </div>
  <div class="for-bottom-padding"></div>
  <footer class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="emergency"> <span class="number">电话：0513-82102961</span> <img src=../../static/chmedt/emergency-divider.png"> </div>
        </div>
      </div>
      <div class="main-footer">
        <div class="row">
          <div class="col-md-5 col-sm-6 mf-item foot-about">
            <div class="title dark-title">
              <h5><a href="about.jsp.html">关于我们</a></h5>
            </div>
            <div class="detail f-about"> 江苏崇恒医疗科技有限公司成立于2020年5月，公司位于江苏省南通市海门市临江镇洞庭湖路100号B6栋2楼海门生物医药科技创业园B6栋二楼，专注于创新类医疗器械的研发、生产和技术服务。</div>
          </div>
          <div class="col-md-2 col-sm-6 mf-item foot-nav">
            <div class="useful-links">
              <div class="title">
                <h5>快捷链接</h5>
              </div>
              <div class="detail">
                <ul>
                  <li><a href="index.jsp.html">网站首页</a></li>
                  <li><a href="about.jsp.html">关于我们</a>&nbsp;&nbsp;<a href="product_view.jsp.html">产品介绍</a></li>
                  <li><a href="news.jsp.html">新闻资讯</a>&nbsp;&nbsp;<a href="link.jsp.html">联系我们</a></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-6 mf-item foot-contact">
            <div class="get-touch">
              <div class="title dark-title">
                <h5><a href="link.jsp.html">联系我们</a></h5>
              </div>
              <div class="detail">
                <div class="get-touch"> <ul>
                    <li> <i class="fa fa-map-marker"></i> <span>地址：江苏省南通市海门市临江镇洞庭湖路100号B6栋2楼</span> </li>
                    <li> <i class="fa fa-phone"></i> <span>手机：宋先生 13655516000　　　汪先生 13855173097</span> </li>
                    <li> <i class="fa fa-envelope"></i> <span>邮箱：chmedt@163.com</span> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </footer></div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-4 copy-left"> <span class="copyrights">网站备案/许可证号:苏ICP备2022041994号-1</span> </div>
          <div class="col-md-5 copy-left"> <span class="copyrights">Copyright © 2020-2023 江苏崇恒医疗科技有限公司 版权所有</span> </div>
          <div class="col-md-3 copy-right">
            <div class="social-icons"> 
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <a href="#0" class="cd-top"></a>

<script type="text/javascript" src=../../static/chmedt/scroll-desktop-smooth.js"></script> 
<script type="text/javascript" src=../../static/chmedt/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src=../../static/chmedt/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src=../../static/chmedt/classie.js"></script> 
<script type="text/javascript" src=../../static/chmedt/jquery.mmenu.min.all.js"></script> 
<script type="text/javascript" src=../../static/chmedt/custom.js"></script> 
<script>
//<!-- Mobile Menu -->				
$(document).ready(function() {
	"use strict";
	$("#menu").mmenu({
		"classes": "mm-slide",
		"offCanvas": {
		"position": "right",
		"zposition": "front" //back, front,next
	},
	"header": {
		"title": "网站导航",
		"add": true,
		"update": true
	},

	});
});
</script></body>
</html>